REDMINE_DB_POSTGRES={{ redmine.db_postgres }}
REDMINE_DB_PORT={{ redmine.db_port }}
REDMINE_DB_USERNAME={{ redmine.db_username }}
REDMINE_DB_PASSWORD={{ redmine.db_password }}
REDMINE_DB_DATABASE={{ redmine.db_database }}
